.profile-header {
  background: #fff;
  width: 100%;
  display: flex;
  height: 170px;
  position: relative;
  box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
  border-radius: 10px;
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 220px;
  border: 5px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profile-nav-info {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}

.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}

.profile-nav-info .address {
  display: flex;
  font-weight: bold;
  color: #777;
}

.profile-nav-info .address p {
  margin-right: 5px;
}
.social_links {
  position: absolute;
  right: 15px;
  bottom: 14px;
  display: flex;
}
.profile-option {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  outline: none;
  background: #72448d;
  margin-left: 5px;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid #72448d;
}
.profile-option:hover .notification i {
  color: #72448d;
}

.profile-option:hover span {
  background: #72448d;
}

.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}

.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: #72448d;
  border: 1px solid #72448d;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  padding: 95px 18px 15px;
  margin-left: 10px;
  z-index: 99;
  border-radius: 0 0 10px 10px;
}
.user-bio {
  margin-top: 30px;
}
.profile-side p {
  margin-bottom: 7px;
  color: rgba(44, 56, 74, 0.95);
  font-size: 15px;
  line-height: 27px;
  word-spacing: 1px;
}

.profile-side p i {
  color: #72448d;
  margin-right: 10px;
}

.mobile-no i {
  transform: rotateY(180deg);
  color: #72448d;
}

.profile-btn {
  display: flex;
}

button.chatbtn, button.createbtn {
  border: 0;
  padding: 9px;
  width: 100%;
  border-radius: 3px;
  background: #72448d;
  color: #fff;
  font-family: "Bree Serif";
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  transition: background 0.3s ease-in-out;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
  background: #72448d;
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}

.user-rating {
  display: flex;
  justify-content: center;
}
.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-of-user-rate {
  font-size: 0.9rem;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 0.9rem;
  color: #72448d;
}

.nav {
  width: 100%;
  z-index: -1;
}

.nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  height: 40px;
  background: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.nav ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.nav ul li:hover,
.nav ul li.active {
  box-shadow: 0px -3px 0px rgba(288, 0, 70, 0.9) inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  display: none;
}

.tab {
  padding: 20px;
  width: 100%;
  text-align: center;
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }

  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }

  .profile-header {
    display: flex;
    height: 100%;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }

  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }

  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }

  .profile-nav-info {
    text-align: center;
  }

  .profile-option {
    right: 20px;
    top: 75%;
    transform: translateY(50%);
  }

  .main-bd {
    flex-direction: column;
    padding-right: 0;
  }

  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }

  .profile-nav-info .address {
    justify-content: center;
  }

  .user-rating {
    justify-content: center;
  }
}

@media (max-width: 400px) {

  .profile-header h3 {
  }

  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }

  .profile-option .notification .alert-message {
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }

  .profile-nav-info h3 {
    font-size: 1.9rem;
  }

  .profile-nav-info .address p,
  .profile-nav-info .address span {
    font-size: 0.7rem;
  }
}
#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}

.right-side {
  padding: 15px;
  width: 100%;
}
.tab-content {
  border: 1px solid #d8dbe0;
  border-top: none;
  border-radius: 0px 0px 5px 5px;
  padding: 15px 0px;
}
.tab-pane {
  line-height: 30px;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  border-color: #d8dbe0;
}
.nav-tabs {
  border-bottom: 1px solid #d8dbe0;
}
.nav-link {
  font-weight: 600;
  font-size: 16px;
}
strong {
  width: 25%;
  display: inline-block;
}
.calendar {
  height: 100%;
  overflow-y: inherit;
}
.calendar table {
  width: 100%;
  text-align: center;
}
.cus_tableHeader {
  background: #374253;
  border: 1px solid #374253;
  color: #fff;
}
.calendar table td.available {
  cursor: default;
  border-color: #fff;
  background: #eef5ff;
}
.c_s1.available span {
  font-weight: 700;
  color: #374253 !important;
}
.tab-content {
  padding-bottom: 0 !important;
  border-radius: 0px !important;
}
.address > p {
  font-size: 23px;
}
.placeholder-lg {
  min-height: 2.2em;
}

.not_found_user {
  background: #fff;
  height: 30vh;
  text-align: center;
  border-radius: 10px;
  position: relative;
}
.not_found_user h4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: 4px;
}
table.table {
  background: #fff;
}
