<div class="row">
  <div class="col-md-6">
    <div class="contact_here_name">
      <label for="name">Enter your name here <span>**</span></label>
      <span class="name wname">
        <i class="fa fa-user" aria-hidden="true"></i>
        <input type="text" name="name" value="" size="40" class="" id="name" aria-required="true" aria-invalid="false"
          placeholder="Type your name">
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="contact_here_name">
      <label for="name">Enter your email here <span>**</span></label>
      <span class="name wname">
        <i class="fa fa-envelope" aria-hidden="true"></i>
        <input type="text" name="name" value="" size="40" class="" id="name" aria-required="true" aria-invalid="false"
          placeholder="Type your eamil">
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="contact_here_name">
      <label for="name">Enter your phone number <span>**</span></label>
      <span class="name wname">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <input type="text" name="name" value="" size="40" class="" id="name" aria-required="true" aria-invalid="false"
          placeholder="Type your phone number">
      </span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="contact_here_name">
      <label for="name">Enter your service <span>**</span></label>
      <span class="name wname">
        <i class="fa fa-pencil-alt" aria-hidden="true"></i>
        <input type="text" name="name" value="" size="40" class="" id="name" aria-required="true" aria-invalid="false"
          placeholder="Type service here">
      </span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="contact_here_name message">
      <label for="massage">Enter your Message</label>
      <i class="fa fa-comment-o" aria-hidden="true"></i>
      <span class="name wname">
        <textarea name="massage" cols="40" rows="10" class="" id="massage" aria-invalid="false"
          placeholder="Type message here"></textarea>
      </span>
    </div>
  </div>
  <div class="col-md-12">
    <div class="contact-btn text-center">
      <a href="#">Get appointment</a>
    </div>
  </div>
</div>
