<div class="content-wrapper">
  <div class="breadcrumb-wrap bg-f br-1">
    <div class="overlay bg-black op-8"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="breadcrumb-title">
            <h2>{{title}}</h2>
            <ul class="breadcrumb-menu list-style">
              <li><a [routerLink]="['/home']">Home </a></li>
              <li>{{title}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave"></div>
</div>
