<!--Modal-->
<c-modal #modalXl id="modalXl" size="xl" [(visible)]="userViewVisible" #verticallyCenteredModal alignment="center" (visibleChange)="handleUserViewDeleteChange($event)">
  <c-modal-header>
    <h5 cModalTitle>User Personal Details</h5>
    <button (click)="clearPopupEvent()" cButtonClose></button>
  </c-modal-header>

  <c-modal-body>
    <ng-container *ngIf="user; else userBlank">
      <div class="profile_view_container">
        <div class="profile-header">
          <div class="profile-img">
            <img src="https://wl-brightside.cf.tsp.li/resize/728x/jpg/f6e/ef6/b5b68253409b796f61f6ecd1f1.jpg" width="200" alt="Profile Image">
          </div>
          <div class="profile-nav-info">
            <h3 class="user-name">{{user.firstName}} {{user.lastName}}</h3>
            <div class="address">
              <p class="state">{{user.userType === 'USER' ? 'General User' : user.userType === 'BEAUTICIAN' ? 'Beautician' : 'Therapists'}}</p>
            </div>
            <div class="address" *ngIf="user.country">
              <p id="state" class="state">{{user.country}},</p>
              <span id="country" class="country">{{user.country_state}}</span>
            </div>
          </div>

          <div class="social_links">
            <div class="profile-option">
              <div class="notification">
                <i class="fa fa-bell"></i>
              </div>
            </div>
            <div class="profile-option">
              <div class="notification">
                <i class="fa fa-bell"></i>
              </div>
            </div>
            <div class="profile-option">
              <div class="notification">
                <i class="fa fa-bell"></i>
              </div>
            </div>
            <div class="profile-option">
              <div class="notification">
                <i class="fa fa-bell"></i>
              </div>
            </div>
          </div>
        </div>

        <div class="main-bd">
          <div class="left-side">
            <div class="profile-side">
              <p class="mobile-no"><i class="fa fa-phone"></i> {{user.phoneNumber ? user.phoneNumber : 'N/A'}}</p>
              <p class="user-mail"><i class="fa fa-envelope"></i> {{user.email}}</p>
              <div class="user-bio">
                <p class="bio">
                  Lorem ipsum dolor sit amet, hello how consectetur adipisicing elit. Sint consectetur provident magni yohoho consequuntur, voluptatibus ghdfff exercitationem at quis similique. Optio, amet!
                </p>
              </div>
              <div class="profile-btn">
                <button class="chatbtn" id="chatBtn"><i class="fa fa-stop-circle"></i> Disable</button>
                <button class="createbtn" id="Create-post"><i class="fa fa-trash-alt"></i> Delete</button>
              </div>
              <div class="user-rating">
                <h3 class="rating">4.5</h3>
                <div class="rate">
                  <div class="star-outer">
                    <div class="star-inner">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                  </div>
                  <span class="no-of-user-rate"><span>123</span>&nbsp;&nbsp;reviews</span>
                </div>

              </div>
            </div>

          </div>


          <div class="right-side">
            <c-nav variant="tabs">
              <c-nav-item>
                <a [active]="true" [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink>
                  Personal Info
                </a>
              </c-nav-item>
              <c-nav-item *ngIf="user.userType !== 'USER'">
                <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink>
                  Schedule
                </a>
              </c-nav-item>
            </c-nav>
            <c-tab-content #tabContent="cTabContent" [activeTabPaneIdx]="1" style="border-bottom: none !important;">
              <c-tab-pane>
                <table cTable class="m-0">
                  <tbody>
                  <tr>
                    <td><strong class="w_25%">Username : </strong>{{user.username}}</td>
                  </tr>
                  <tr>
                    <td><strong class="w_25%">Gender : </strong>Male</td>
                  </tr>
                  <tr>
                    <td><strong class="w_25%">Religion : </strong>Islam</td>
                  </tr>
                  <tr>
                    <td><strong class="w_25%">User Type : </strong>{{user.userType === 'USER' ? 'General User' : user.userType === 'BEAUTICIAN' ? 'Beautician' : 'Therapists'}}
                    </td>
                  </tr>
                  <tr *ngIf="user.exp_level">
                    <td><strong class="w_25%">Experience Level : </strong>{{user.exp_level === 'ENTRY' ? 'Entry Level' : user.exp_level === 'INTERMEDIATE' ? 'Intermediate Level' : 'Expert Level'}}
                    </td>
                  </tr>
                  <tr *ngIf="user.availability">
                    <td><strong class="w_25%">Availability : </strong>{{user.availability}}</td>
                  </tr>
                  <tr *ngIf="user.price">
                    <td><strong class="w_25%">Price : </strong>{{user.price}}</td>
                  </tr>
                  <tr *ngIf="user.address1">
                    <td><strong class="w_25%">Address : </strong>{{user.address1}}</td>
                  </tr>
                  </tbody>
                </table>
              </c-tab-pane>
              <c-tab-pane>
                <div class="calendar">
                  <div class="outer">
                    <table>
                      <thead class="cus_tableHeader">
                      <tr>
                        <th> Fri
                        </th>
                        <th>
                          Sat </th>
                        <th>Sun </th>
                        <th>Mon</th>
                        <th>Tue</th>
                        <th>Wed</th>
                        <th>Thu</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.nineAm ? 'c_s1 available':'c_s1'"><span>09:00 AM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.tenAm ? 'c_s1 available':'c_s1'"><span>10:00 AM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.elevenAm ? 'c_s1 available':'c_s1'"><span>11:00 AM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.twelvePm ? 'c_s1 available':'c_s1'"><span>12:00 PM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.onePm ? 'c_s1 available':'c_s1'"><span>01:00 PM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.twoPm ? 'c_s1 available':'c_s1'"><span>02:00 PM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.threePm ? 'c_s1 available':'c_s1'"><span>03:00 PM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.fourPm ? 'c_s1 available':'c_s1'"><span>04:00 PM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.fivePm ? 'c_s1 available':'c_s1'"><span>05:00 PM</span></td>
                      </tr>
                      <tr>
                        <td data-ts="1659085200" [class]="user.schedule.friday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span></td>
                        <td data-ts="1659171600" [class]="user.schedule.saturday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span></td>
                        <td data-ts="1659258000" [class]="user.schedule.sunday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span></td>
                        <td data-ts="1659344400" [class]="user.schedule.monday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span></td>
                        <td data-ts="1659430800" [class]="user.schedule.tuesday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span>
                        </td>
                        <td data-ts="1659517200" [class]="user.schedule.wednesday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span></td>
                        <td data-ts="1659603600" [class]="user.schedule.thursday.sixPm ? 'c_s1 available':'c_s1'"><span>06:00 PM</span></td>
                      </tr>
                      <tr>

                      </tr>
                      </tbody>
                    </table>

                  </div>

                </div>
              </c-tab-pane>
            </c-tab-content>

          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #userBlank class="text-center">
      <button cButton class="m-1" disabled>
        <c-spinner aria-hidden="true" size="sm" variant="grow"></c-spinner>
        Loading...
      </button>
    </ng-template>
  </c-modal-body>

  <c-modal-footer>
  </c-modal-footer>
</c-modal>
<!--Modal-->


<!--Review Delete Popup-->
<c-modal [visible]="visible" (visibleChange)="handleLiveLinkDeleteChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Review Delete Confirmation</h5>
    <button (click)="closePopupEvent()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body><strong>Are you want to sure delete</strong></c-modal-body>
  <c-modal-footer>
    <button cButton color="primary" (click)="permanentlyDelete()">Delete Confirm</button>
  </c-modal-footer>
</c-modal>
<!--Review Delete Popup-->




<!--  User Table-->
<table cTable hover>
  <thead cTableColor="dark">
  <tr>
    <th scope="col" width="5%">Image</th>
    <th scope="col" width="15%">Name</th>
    <th scope="col" width="5%">Rating</th>
    <th scope="col" width="10%">State</th>
    <th scope="col" width="10%">Post Time</th>
    <th scope="col" width="35%">Description</th>
    <th scope="col" width="20%">Actions</th>
  </tr>
  </thead>
  <tbody >

  <tr *ngFor="let review of reviews | paginate : config">
    <td width="5%" cAlign="middle">
      <div [ngStyle]="userProfilePic">
        <img [ngStyle]="{'width': '100%'}"
             src="{{review.image}}"
             alt="">
      </div>
    </td>
    <td cAlign="middle" width="15%"><button cButton color="link" (click)="getUserView(review.userId)">{{review.name}}</button></td>
    <td cAlign="middle" width="5%">{{review.rating}}</td>
    <td cAlign="middle" width="10%">{{review.state === 'ACTIVE' ? 'Active' : review.state === 'DELETED' ? 'Deleted' : 'Inactive' }}</td>
    <td cAlign="middle" width="10%">{{review.createdAt}}</td>
    <td cAlign="middle" width="35%">{{review.description}}</td>
    <td cAlign="middle" width="20%">
      <c-button-group aria-label="Basic mixed styles example" role="group">
        <button *ngIf="review.state === 'DELETED' || review.state === 'INACTIVE'" cButton color="secondary" variant="outline" (click)="updateToActive(review)">Active</button>
        <button *ngIf="review.state === 'ACTIVE'" cButton color="secondary" variant="outline" (click)="updateToInactive(review)">Inactive</button>
        <button *ngIf="review.state === 'ACTIVE' || review.state === 'INACTIVE'" cButton color="secondary" variant="outline" (click)="updateToDeleted(review)">Temporary Delete</button>
        <button *ngIf="review.state === 'DELETED'" cButton color="secondary" variant="outline" (click)="openDeletePopup(review._id)">Permanently Delete</button>
      </c-button-group>
    </td>
  </tr>


  </tbody>
</table>


<!--NGX PAGINATION-->
<div class="has-text-centered">
  <pagination-template #p="paginationApi" [id]="config.id!" (pageChange)="onPageChange($event)">
    <div class="custom-pagination">
      <div class="pagination-previous" [class.disabled]="p.isFirstPage()">
        <a *ngIf="!p.isFirstPage()" (click)="p.previous()"> < </a>
      </div>

      <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
        <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
          <span>{{ page.label }}</span>
        </a>
        <div *ngIf="p.getCurrent() === page.value">
          <span>{{ page.label }}</span>
        </div>
      </div>

      <div class="pagination-next" [class.disabled]="p.isLastPage()">
        <a *ngIf="!p.isLastPage()" (click)="p.next()"> > </a>
      </div>
    </div>
  </pagination-template>
</div>
<!--NGX PAGINATION-->

