.team-one__single {
  position: relative;
  display: block;
  margin-bottom: 23px;
}

.team-one__img {
  position: relative;
  display: block;
  border-radius: 20px;
  z-index: 1;
}

.team-one__single:hover .team-one__img:after {
  border: 2px dashed #72448d
}

.team-one__img-box {
  position: relative;
  display: block;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.team-one__img-box img {
  width: 100%;
  border-radius: 20px;
  -webkit-transform: scale(1);
  transform: scale(1);
  transition: all 500ms ease;
}

.team-one__img-box::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border-radius: 20px;
  -webkit-transform: perspective(400px) rotateX(90deg) scaleY(0.5);
  -ms-transform: perspective(400px) rotateX(90deg) scaleY(0.5);
  transform: perspective(400px) rotateX(90deg) scaleY(0.5);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .5s;
  transition-property: all;
  z-index: 1;
  background: rgba(0, 0, 0, .6);
}

.team-one__single:hover .team-one__img-box:before {
  -webkit-transform: perspective(400px) rotateX(0deg) scaleY(1.0);
  -ms-transform: perspective(400px) rotateX(0deg) scaleY(1.0);
  transform: perspective(400px) rotateX(0deg) scaleY(1.0);
  transition-delay: .1s;
  transition-timing-function: ease-in-out;
  transition-duration: .7s;
  transition-property: all;
}

.team-one__single:hover .team-one__img-box img {
  transform: scale(1.05);
}

.team-one__social {
  position: absolute;
  right: 20px;
  bottom: 25px;
  background-color: #72448d;
  text-align: center;
  padding: 20px 17.5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: scaleY(0.0);
  transform-origin: center;
  transform-style: preserve-3d;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  transform-origin: bottom center;
  z-index: 2;
}

ul.list-unstyled {
  margin-top: 20px;
}

.team-one__img::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  border-radius: 20px;
  border: 2px dashed #fff;
  transform: rotate(-7deg);
  transition: all 500ms ease;
  z-index: -1;
}

.team-one__single:hover .team-one__img::after {
  border: 2px dashed #72448d;
}

.team-one__content {
  position: relative;
  display: block;
  padding-top: 20px;
  text-align: center;
}

.team-one__sub-title {
  font-size: 19px;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  font-weight: 400;
  margin-bottom: 5px;
}

.team-one__name {
  font-size: 24px;
  font-weight: 600 !important;
  line-height: 30px;
}

.team-one__name a {
  color: #212529;
  transition: all 500ms ease;
}

.team-one__single:hover .team-one__social {
  transform: scaleY(1.0);
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  -ms-transition-delay: 500ms;
  -o-transition-delay: 500ms;
  transition-delay: 500ms;
}

ul.list-unstyled li a {
  color: #5E5E5E;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  margin-bottom: 9px;
  display: inline-block;
}

ul.list-unstyled li a i {
  color: #fff;
}
