<div class="team-one__single">
  <div class="team-one__img">
    <div class="team-one__img-box">
      <img [src]="image" alt="">
    </div>
    <ul class=" list-unstyled team-one__social">
      <li><a [href]="facebook"><i class="fab fa-facebook-f"></i></a></li>
      <li><a [href]="twitter"><i class="fab fa-twitter"></i></a></li>
      <li><a [href]="linkedin"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a [href]="dribbble"><i class="fab fa-dribbble"></i></a></li>
    </ul>
  </div>
  <div class="team-one__content">
    <p class="team-one__sub-title">{{title}}</p>
    <h3 class="team-one__name"><a href="#">{{subTitle}}</a></h3>
  </div>
</div>
